:root{
    --primary-color: #fc6405;    /* -- criar variável*/
    --second-color:#E3BB93 ;
    --tertiary-color: #e9b24c;
    --quaternary-color:#a55f30 ;
    --quinary-color: #c09375;
    --light-color: #a3a3a3;
    --medium-color: #4d4c4c ;
    --dark-color:  #202020; /*mouse na cor para mudar*/

}
.bg-custom{
    background: var(--quaternary-color);
    background: linear-gradient(90deg,var(--second-color) 0%, var(--tertiary-color) 15%, var(--primary-color) 100%);
}
.nav-brand,
.nav-link{
    color: rgb(0, 0, 0);
}